.var-highlight {
	color: #43bdef;
}

.sign-other-highlight,
.var-name-highlight {
  color: #e3e3e3;
}

.sign-equal-highlight {
  color: #f92672;
}

.obj-field-highlight {
	color: #bfc300;
}

.string-highlight {
	color: #3bff00;
}

#typewriter {
	font-size: 2rem;
	margin: 0;
	padding: 0;
	font-family: "Courier New";
	line-height: 140%;
}

#typewriter:after {
	content: "|";
  color: #e3e3e3;
	animation: blink 500ms linear infinite alternate;
}

@keyframes blink {
	0% {
    opacity: 0;
  }
	100% {
    opacity: 1;
  }
}

@media screen and (max-width: 370px) {
	#typewriter {
		font-size: 1.6rem;
	}
}