.tabsEditor {
  margin: 0 0 0 53px;
}

.editor {
  padding: 8px 0 32px 24px;
  height: 26rem;
  background-color: #272821;
  color: white;
}

.tabs {
  padding: 0 10px;
}

.tab {
  color: #fff;
  position: relative;
  width: 200px;
  padding: 8px 16px;
  margin-top: 5px;
  display: block;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.tab:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: #272821#272821;
  background-image: linear-gradient(#35362F, #272821);
  transform: perspective(6px) rotateX(1deg);
  border-radius: 6px 6px 0 0;
}

.editorLines {
  display: block;
  float: left;
  margin: 0 12px 0 -24px;
  padding: 0 8px 0 16px;
  border-right: 1px solid #33342D;
}

.editorLineNum {
  display: block;
  font-family: 'Courier New';
  font-size: 2rem;
  line-height: 140%;
  color: #535455;
}

.statusBarEditor {
  font-family: arial;
  font-size: 1.2rem;
  color: #e3e3e3;
  height: 24px;
  padding: 4px 8px 0 8px;
  outline: 1px solid #808080;
  background-color: #171814;
  box-shadow: 0 12px 32px rgba(0,0,0,0.5);
}

.statusBarEditor__cursor,
.statusBarEditor__encoding,
.statusBarEditor__language,
.statusBarEditor__lineEnd {
  margin: 4px;
}

.statusBarEditor__cursor {
  float: left;
}

.statusBarEditor__encoding,
.statusBarEditor__language,
.statusBarEditor__lineEnd {
  float: right;
}

@media screen and (max-width: 370px) {
  .editorLineNum {
    font-size: 1.6rem;
  }
  .editor {
    height: 20rem;
  }
}

@media screen and (max-width: 425px) {
  .tabsEditor {
    margin-left: 0;
  }
  .tabs {
    margin: 55px 0 0 0;
  }
}